:root {
	--white: #eeeeee;
	--black: #373737;
}
*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--white);
	font-size: 1.0rem;
	font-family: 'Roboto Mono', monospace;
    font-weight: 100;
	line-height: 1.5;
}

.flex {
    display: flex;
}

.menu {
	justify-content: space-between;
}

nav a {
    display: inline-block;
}

.hero {
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-size: 3rem;
	margin-top: -50px;
} 

.hero-text::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: url(../media/bg373737.png) no-repeat;
	background-color: var(--white);
	background-size: cover;
}

.hero-text {
	position: relative;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	color: transparent;
	background: url(../media/bg373737-white.png) no-repeat;
	background-color: var(--black);
	background-size: cover;
	-webkit-background-clip: text;
	background-clip: text;
}

.hero-text p {
	font-size: 1.5rem;
	width: 50%;
}

/* filter: invert(99%) sepia(0%) saturate(7478%) hue-rotate(192deg) brightness(120%) contrast(87%); */
